<div class="container mt-2">
  <div *ngIf="!isRegisteredUser">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Phone Number</label>
          <input type="text" class="form-control" [(ngModel)]="phoneNumber" placeholder="0719547942">
        </div>
        <div class="form-group" hidden>
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" aria-describedby="emailHelp"
            placeholder="Peter Mutisya">
          <small id="emailHelp" class="form-text text-muted">This will be displayed in your messages.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-sm" (click)="registerUser()">Join Group Chat</button>
      </div>
    </div>
  </div>
  <div *ngIf="isRegisteredUser">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="card w-100">
          <div class="card-header">
            <h4>Group Chat</h4>
          </div>

          <div class="card-body scroll">
            <div *ngFor="let chatMessage of chatMessages">
              <div class="text-right" *ngIf="chatMessage.sourcePhoneNumber == phoneNumber">
                <label>
                  {{chatMessage.message}}
                </label>
                <br>
                <small>Sent at {{chatMessage.sentDateTime | date:'HH:mm:ss'}}</small>
                <hr>
              </div>
              <div class="text-left" *ngIf="chatMessage.sourcePhoneNumber !== phoneNumber">
                <label>
                  {{chatMessage.message}}
                </label>
                <br>
                <small>By {{chatMessage.sourcePhoneNumber}} at {{chatMessage.sentDateTime | date:'HH:mm:ss'}}</small>
                <hr>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Type a message" aria-label="Recipient's username"
                aria-describedby="basic-addon2" [(ngModel)]="message">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="chat()">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>